@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://px.animaapp.com/63af56fd40dd5ccf75d87c45.63af56fdadca4242eb8efd4b.NUbW6Fz.rcp.png");

@font-face {
  font-family: "Gilroy-SemiBold-☞";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/Gilroy-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Medium-☞";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Medium-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-SemiBold-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/Gilroy-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy-Bold-☞";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/Gilroy-Bold.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
